canvas {
    border: 1px solid #000;
}

.apagarTriangulos{
    display: flex;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.apagarTrianguloSelecionado{
    background-color: black;
    color: white;
    padding: 8px 12px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 10px; 
}

.apagarTrianguloSelecionado:hover{
    background-color: #d32f2f; 
}

.novoTriangulo{   
    display: flex;
}

.buttonVermelho{
    background-color: red;
    color: white;
}

.buttonVerde{
    background-color: green;
    color: white;
}

.corVertices{
    display: flex;
}

#infoTriangulosDiv{
    margin-top: 20px;
}

.infoTriangulo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.infoTriangulo label {
    display: block;
    margin-bottom: 5px;
}

.infoTriangulo button {
    background-color: black;
    color: white;
    padding: 8px 12px; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    margin-top: 10px; 
}

.infoTriangulo button:hover {
    background-color: #d32f2f; 
}

.infoTrianguloSelecionadoDiv{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 20px;
}